.authentication-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #FAF5F1; 
  padding: 2rem;
}

.heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #A41F13; 
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1rem;
  border-radius: 5px;
  background-color: #E0DBD8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  margin-bottom: 0.5rem;
  color: #A41F13;
}

input[type="email"],
input[type="password"] {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #A41F13; 
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #901c10;
}

.password-strength {
  margin-top: 0.5rem;
  font-weight: bold;
  color: #A41F13; 
}